****
## JSON exercise

Using data in file 'data/world_bank_projects.json',
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1]:
## imports for Python, Pandas, Numpy

import pandas as pd
import json
from pandas.io.json import json_normalize
import numpy as np

In [2]:
#First we read the json files as a panda data frame object
projects_json_df = pd.read_json('data/world_bank_projects.json')

#And we first inspect the column names, data read from the json file.
projects_json_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [3]:
#1.Find the 10 countries with most projects
#After analyzing the data we can see that each row on the table is dedicated to one project.  Which means that we can simply
#use the groupby method in data frames to group the projects by country name.  We then use the value_counts() method to display
#the number of occurrense of each country(or number of pojects)

countryprojects = projects_json_df.groupby('countryname').countryshortname.value_counts()

#Now to display the top 10 country's we simply sort our result by using .sort() method
#and display only the top 10 with the .head() method.

topprojects = countryprojects.sort_values(ascending=False).head(15)
topprojects

countryname                      countryshortname
People's Republic of China       China                 19
Republic of Indonesia            Indonesia             19
Socialist Republic of Vietnam    Vietnam               17
Republic of India                India                 16
Republic of Yemen                Yemen, Republic of    13
Nepal                            Nepal                 12
People's Republic of Bangladesh  Bangladesh            12
Kingdom of Morocco               Morocco               12
Africa                           Africa                11
Republic of Mozambique           Mozambique            11
Burkina Faso                     Burkina Faso           9
Federative Republic of Brazil    Brazil                 9
Islamic Republic of Pakistan     Pakistan               9
United Republic of Tanzania      Tanzania               8
Republic of Tajikistan           Tajikistan             8
Name: countryshortname, dtype: int64

In [4]:
# 2.Find the top 10 major project themes (using column 'mjtheme_namecode')



# Now since we have a column with multiple values, we will need to use the normalize method for json data.
# First we load json as string in to pdata1
pdata1 = json.load((open('data/world_bank_projects.json')))



#Now we can use the json_normalize() method to normalize the data read in to pdata1 and using the column 'mjtheme_namecode'
#we are also interested in keeping the values of column 'countryname'
pdatanorm = json_normalize(pdata1, 'mjtheme_namecode', ['countryname'])

#Now we will use the same methond as previous exercise to group the data by the column 'code', we then want to display the column
# 'name' of the dataframe,we sort the values in descending order and finally display the top 10 values.  
pdatanorm.groupby('code').name.value_counts().sort_values(ascending=False).head(10)

code  name
11    Environment and natural resources management    223
10    Rural development                               202
8     Human development                               197
2     Public sector governance                        184
6     Social protection and risk management           158
4     Financial and private sector development        130
7     Social dev/gender/inclusion                     119
5     Trade and integration                            72
9     Urban development                                47
1     Economic management                              33
Name: name, dtype: int64

In [5]:
# 3.
# In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the 
# missing names filled in.

# We will follow the same steps as previous example and now normalize the data in to data frame 'pdatan'
pdatan = json_normalize(pdata1, 'mjtheme_namecode', ['countryname'])

# We now use the .replace() method to replace all empty values for column 'name' with a Nan value. 
pdatan['name'].replace('',np.nan, inplace=True)

# Since we want all rows to be together withing same 'code' value. We sort the data by 'code' column.
psorted = pdatan.sort_values(by='code')

# Now that all data is sorted by 'code' column.  We simply use the fillna() method to replace the Nan values in 'name' column
# We will use the 'ffill' method of 'fillna' to forward fill the 'name' cells with corresponing values.
psorted['name'].fillna(method='ffill', inplace=True)

# Now we can repeat previous exercise to group by 'code', sort values and display the new top 10.
psorted.groupby('code').name.value_counts().sort_values(ascending=False).head(10)

code  name
11    Environment and natural resources management    250
10    Rural development                               216
8     Human development                               210
2     Public sector governance                        199
6     Social protection and risk management           168
4     Financial and private sector development        146
7     Social dev/gender/inclusion                     130
5     Trade and integration                            77
9     Urban development                                50
1     Economic management                              38
Name: name, dtype: int64